<div class="login_1">
    <div class="login_2 module">
            <h1>登&nbsp;&nbsp;&nbsp;录</h1>
            <label>
                <span>帐号：</span>
                <input type="text" ng-model="texts">
                <p></p>
            </label>
            <label>
                <span>密码：</span>
                <input type="password" ng-model="passwords">
                <p></p>
            </label>
            <p>{{dlsb}}</p>
            <button class="button1"  ng-click="login()">登录</button>
    </div>
</div>