<div class="stern"  ng-controller="head">
    <div class="module">
        <div class="relation clearfix">
            <p>
                <img src="img/stern/dianhua.png" height="30" width="34"/>
                <span>020-000-0000</span>
            </p>
            <p>
                <img src="img/stern/youjian.png" height="30" width="41"/>
                <span>contact@fkadjkhsf.com</span>
            </p>
            <p>
                <img src="img/stern/dingwei.png" height="31" width="25"/>
                <span>XXX省XXX市XXX县XXX路XXX号</span>
            </p>
        </div>
        <div class="interlinkage clearfix">
            <ul>
                <li ng-repeat="arrs in arr">
                    <a href="{{arrs.href}}">
                        {{arrs.content}}
                    </a>
                </li>
            </ul>
        </div>
        <p class="banqian">2017 网站模板-饰品 版权所有</p>
        <div class="zushi">
            <a href="#">手机版</a>&nbsp;|
            <span>本站使用</span>
            <a href="#">凡科建站</a>
            <span>搭建</span>&nbsp;|
            <a href="#">管理登录</a>
        </div>
    </div>
</div>