 <div class="wanbiaoleixing">
                <p class="ziyangshi">
                    腕表类型
                </p>
                <p class="xialaliebiao" ng-repeat="liebia1 in liebia">
                    <a href="#" title="{{liebia1.ziti}}">{{liebia1.ziti}}</a>
                </p>
            </div>
            <div class="zaixiankefu">
                <p class="ziyangshi">
                    在线客服
                </p>
                <div class="kefu_lianxian">
                    <div class="kefuzaixian kefu">
                        <a href="#">
                            <span></span>
                            <p>客服一</p>
                        </a>
                        <a href="#">
                            <span></span>
                            <p>客服二</p>
                        </a>
                    </div>
                    <div class="kefuzaixian gongzuoshijian">
                        <div class="gongtong clearfix">
                            <span class="tubiao shijian"></span>
                            <p>工作时间</p>
                        </div>
                        <p>
                            周一至周五:8:30-17:30
                        </p>
                        <p>
                            周六至周日:9:00-17:00
                        </p>
                    </div>
                    <div class="kefuzaixian gongzuoshijian">
                        <div class="gongtong clearfix">
                            <span class="tubiao lianxi"></span>
                            <p>联系方式</p>
                        </div>
                        <p>
                            客服热线：400-000000
                        </p>
                        <p>
                           邮箱：contact@fkand.co
                        </p>
                    </div>
                </div>
            </div>